<%= link_to "#", :class => 'visible-phone' do %>
  <i class="icon icon-user"></i>
  <span>Sidebar Menu</span>
<% end %>
<ul>
  <li>
    <%= link_to admin_dictionaries_path do %>
      <i class="icon icon-star"></i>
      <span>字典列表</span>
    <% end %>
  </li>
  <li>
    <%= link_to admin_sixbooks_path do %>
      <i class="icon icon-star"></i>
      <span>六書列表</span>
    <% end %>
  </li>
  <li>
    <%= link_to admin_sixbook_categories_path do %>
      <i class="icon icon-star"></i>
      <span>六書分類列表</span>
    <% end %>
  </li>
  <li>
    <%= link_to admin_locations_path do %>
      <i class="icon icon-star"></i>
      <span>地點列表</span>
    <% end %>
  </li>
  <li>
    <%= link_to admin_artists_path do %>
      <i class="icon icon-star"></i>
      <span>文人列表</span>
    <% end %>
  </li>
  <li>
    <%= link_to admin_questions_path do %>
      <i class="icon icon-star"></i>
      <span>題目列表</span>
    <% end %>
  </li>
  <li>
    <%= link_to admin_options_path do %>
      <i class="icon icon-star"></i>
      <span>題目選項列表</span>
    <% end %>
  </li>
</ul>