<% content_for :bts do %>
  <%= link_to "新增文人", new_admin_artist_path, :class => 'btn' %>
<% end %>

<div class="widget-box">
  <div class="widget-content nopadding">
    <div class="dataTables_wrapper">
      <table class="table table-hover table-bordered with-check">
          <thead>
            <tr>
              <th>編號</th>
              <th>文人</th>
              <th>出生地點</th>
              <th>生平敘述</th>
              <th>操作</th>
            </tr>
          </thead>  
          <tbody>
            <% @artists.each do |artist| %>
              <tr rowspan="1">
                <td><%= artist.id %></td>
                <td><%= artist.name %></td>
                <td><%= artist.location_name %></td>
                <td><%= artist.description %></td>
                <td colspan="3">
                  <%= link_to "作品列表", admin_artist_creations_path(artist), :class => "btn btn-mini btn-primary" %>
                  <%= link_to "編輯", edit_admin_artist_path(artist), :class => "btn btn-mini" %>
                  <%= link_to "刪除", admin_artist_path(artist), :class => "btn btn-mini btn-danger", :method => :delete, :confirm => "請確認！！" %>
                </td>
              </tr>
            <% end %>   
          </tbody>
      </table>
    </div>
  </div>
</div>   

<%= paginate @artists %>