<% content_for :bts do %>
  <%= link_to "新增遊戲", new_admin_dictionary_game_path(@dictionary), :class => 'btn' %>
<% end %>

<div class="widget-box">
  <div class="widget-content nopadding">
    <div class="dataTables_wrapper">
      <table class="table table-hover table-bordered with-check">
          <thead>
            <tr>
              <th>編號</th>
              <th>字</th>
              <th>操作</th>
            </tr>
          </thead>  
          <tbody>
            <% @games.each do |game| %>
              <tr rowspan="1">
                <td><%= game.id %></td>
                <td><%= game.word %></td>
                <td>
                  <%= link_to "編輯", edit_admin_dictionary_game_path(@dictionary, game), :class => "btn btn-mini" %>
                  <%= link_to "刪除", admin_dictionary_game_path(@dictionary, game), :class => "btn btn-mini btn-danger", :method => :delete, :confirm => "請確認！！" %>
                </td>
              </tr>
            <% end %>   
          </tbody>
      </table>
    </div>
  </div>
</div>   

<%= paginate @games %>