<% content_for :bts do %>
  <%= link_to "新增題目", new_admin_question_path, :class => 'btn' %>
<% end %>
<div class="widget-box">
  <div class="widget-content nopadding">
    <div class="dataTables_wrapper">
      <table class="table table-hover table-bordered with-check">
          <thead>
            <tr>
              <th>編號</th>
              <th>字</th>
              <th>題目類型</th>
              <th>題目分類</th>
              <th>題目子分類</th>
              <th>答案</th>
              <th>註記</th>
              <th>操作</th>
            </tr>
          </thead>  
          <tbody>
            <% @questions.each do |question| %>
              <tr>
                <td><%= question.id %></td>
                <td><%= question.word %></td>
                <td><%= question.q_type %></td>
                <td><%= render_question_class(question) %></td>
                <td><%= question.q_item %></td>
                <td><%= question.ans %></td>
                <td><%= question.note %></td>
                <td rowspan="2">
                  <%= link_to "編輯", edit_admin_question_path(question), :class => "btn btn-mini" %>
                  <%= link_to "刪除", admin_question_path(question), :class => "btn btn-mini btn-danger", :method => :delete, :confirm => "請確認！！" %>
                </td>
              </tr>
              <tr>
                <th>內容</th>
                <td colspan="6"><%= question.text %></td>
              </tr>
            <% end %>   
          </tbody>
      </table>
    </div>
  </div>
</div>   

<%= paginate @questions %>