<% content_for :bts do %>
  <%= link_to "新增作品", new_admin_artist_creation_path(@artist), :class => 'btn' %>
<% end %>

<div class="widget-box">
  <div class="widget-content nopadding">
    <div class="dataTables_wrapper">
      <table class="table table-hover table-bordered with-check">
          <thead>
            <tr>
              <th>編號</th>
              <th>名稱</th>
              <th>文人</th>
              <th>描述</th>
              <th>操作</th>
            </tr>
          </thead>  
          <tbody>
            <% @creations.each do |creation| %>
              <tr>
                <td><%= creation.id %></td>
                <td><%= creation.name %></td>
                <td><%= creation.artist_name %></td>
                <td><%= render_text_at_most(creation.description,50) %></td>
                <td rowspan="2">
                  <%= link_to "編輯", edit_admin_artist_creation_path(@artist, creation), :class => "btn btn-mini" %>
                  <%= link_to "刪除", admin_artist_creation_path(@artist, creation), :class => "btn btn-mini btn-danger", :method => :delete, :confirm => "請確認！！" %>
                </td>
              </tr>
             <tr> 
              <th colspan="1">內容</th>
              <td colspan="3"><%= render_text_at_most(creation.content,100) %></td>
            </tr>
            <% end %>   
          </tbody>
      </table>
    </div>
  </div>
</div>   

<%= paginate @creations %>